.title_heading::before {
	content: "";
	width: 50%;
	height: 2px;
	background: #4b9e22;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    bottom: 0;
    
}
.title_heading {
	font-family: Jost;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.2;
	color: #111111;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
}
.h3{
	margin-bottom: .5rem;
	
}
.best-seller .best-seller-area{
	
	display: flex;
	flex-wrap: wrap;
}