.blog-area{
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    position: relative;
}
.blog-area .blog-img img{
    width: 100%;
    height: 300px;
}
.blog-card:hover .blog-img{
    position: relative;
}

.blog-card:hover .blog-img::before{
    content: "";
    background-color: rgb(160, 113, 207, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid beige;
}
.blog-card .blog-text-area h5, .blog-card .blog-text-area p{
    color: gray;


}


